/*change color of text etc. in remaining top menu to white*/

.ms-core-listMenu-horizontalBox li.static>.ms-core-listMenu-item,
.ms-core-pageTitle,
.ms-core-pageTitle a,
.ms-navedit-editLinksText>span>.ms-metadata,
.ms-srch-sb>input {
    color: #FFFFFF !important;
}


/*change border of searchbox to white*/

.ms-srch-sb {
    border-color: #FFFFFF !important;
}


/* weight the text of the current page in the menu*/

.selected {
    font-weight: bold;
}

.static.menu-item:hover {
    text-decoration: underline;
}


/*.ms-core-overlay is the opaque background under the content. hide this*/

#globalNavBox,
.ms-core-overlay {
    background-color: rgba(255, 255, 255, 0.0) !important;
}

#s4-titlerow {
    position: fixed;
    background-color: rgba(59, 60, 64, 1.0) !important;
    border-color: rgba(0, 0, 0, 0.0);
    z-index: 1001;
    margin-right: 17px;
}


/*change background of content container to white*/

#contentRow {
    padding-top: 100px;
    background-color: #ffffff;
}